app:
  name: mpakbaz myCvServer

pageSize: 20
MaxConversationsPerDay: 3

#debug: true

#logging:
#  console: DEBUG



jwt:
  header: Authorization
  expiration: 3456000000 # 4 days
  secret: DJIUNukQKuMW9
  route:
    authentication:
      path: auth
      refresh: refresh



spring:
  output:
    ansi:
      enabled: always
  http:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  jpa:
      database-platform: com.mpakbaz.mycvserver.common.hibernate.JSONPostgreSQLDialect
      properties:
        hibernate:
          format_sql: true
          show_sql: true
#          dialect: JSONPostgreSQLDialect
      generate-ddl: true
      hibernate:

        ddl-auto: update
        # possible values: validate | update | create | create-drop | none


  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/mycvdb
    username: mpakbaz
    password: fdD@fgl2
    driver-class-name: org.postgresql.Driver

server:
  port: 8090